@charset "UTF-8";


body{
  font-family: Oriya MN;
  color: #333;
}

/*------------------- fv部分のスタイル ---------------------*/

.fv{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.fv-ttl{
  font-size: 100px;
  color: #F6D84C;
  text-shadow: 5px 7px 15px gray;
  line-height: 1.25;
  position: absolute;
  top: 50px;
  left: 80px;
}

.fv-img{
  width: 70%;
  height: 750px;
  background-image: url(../img/fv.svg);
  background-size: cover;
  position: absolute;
  right: 80px;
  top: 0px;
}

.header{
  position: absolute;
  top: 50px;
  right: 80px;
}

.header-menu{
  display: flex;
}

.header-id{
  margin: 0 20px 0 20px;
  font-size: 20px;
  transition: 0.3s;
  font-weight: bold;
}


.header-id:hover{
  color: red;
  transition: 0.3s;
  text-decoration: underline;
}


.logo{
  width: 170px;
  position: fixed;
  top: 20px;
  left: -200px;
  z-index: 999;
  transition: 1s;
}

.logo.in{
  left: 30px;
}

.scroll{
  font-size: 16px;
  position: absolute;
  bottom: 100px;
  left: 150px;
  color: #222;
  animation-name: huwahuwa;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

@keyframes huwahuwa {
    0% {
        transform: translate(0,0px);
    }

    100% {
        transform: translate(0,-15px)
    }
}

.scroll::before{
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  left: 15px;
  transform: rotate(-135deg);
  border-top: 5px solid;
  border-left: 5px solid;
  border-color: #222;
}

.scroll::after{
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  top: 30px;
  left: 15px;
  transform: rotate(-135deg);
  border-top: 5px solid;
  border-left: 5px solid;
  border-color: #222;
}

/*----------- backToTop部分のスタイル ---------------*/

#back-to-top {
  width: 45px;
  height: 45px;
  background: #222;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: -100px;
  z-index: 999;
  opacity: 0.3;
  transition: 0.4s;
}

#back-to-top:hover {
  opacity: 0.7;
  transition: 0.3s;
}

#back-to-top::before {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 18px;
  left: 15px;
}

#back-to-top.in {
  right: 20px;
}

/*-------------------- about部分のスタイル ----------------------*/
.about{
  width: 100%;
  height: 700px;
}

.about-content{
  position: relative;
  margin-top: 100px;
  margin-left: 150px;
}

.circle1{
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-color: #FDF3C1;
  position: relative;
  z-index: 2;
}

.circle2{
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-color: rgba(242,242,240,60%);
  position: absolute;
  top: 100px;
  right: 150px;
}

.about-ttl{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.about-main-ttl{
  font-size: 50px;
  text-align: center;
}

.about-sub-ttl{
  font-size: 25px;
  font-family: serif;
  text-align: center;
}

.about-text{
  font-size: 18px;
  font-weight: bold;
  line-height: 2.3;
  font-family: serif;
  position: absolute;
  top: 50%;
  left: 30%;
  opacity: 0;
  transform: translate(-10%,-50%);
}

.about-text.in{
  opacity: 1;
  transition: 4s;
}

.about-movie{
  position: absolute;
  top: 250px;
  left: 100px;
  opacity: 0;
}

.about-movie video{
  width: 500px;
}

.about-movie.in{
  opacity: 1;
  transition: 2s;
}

.about-movie img{
  width: 500px;
  height: 380px;
}

/*---------------------- activity部分のスタイル ----------------------*/
.activity{
  margin: 160px 0 80px 0;
  position: relative;
}

.activity-ttl{
  position: absolute;
  top: 50px;
  right: 300px;
}

.activity-main-ttl{
  font-size: 50px;
  text-align: center;
}

.activity-sub-ttl{
  font-size: 25px;
  font-family: serif;
  text-align: center;
}

.activity-content{
  display: flex;
  justify-content: center;
}

.activity-item{
  width: 230px;
  padding: 25px;
  opacity: 0;
  transition: 0.6s ease-out;
}

.item2{
  transition: 0.8s ease-out;
}

.item3{
  transition: 1.2s ease-out;
}

.item4{
  transition: 1.5s ease-out;
}

.slide-up{
  transform: translateY(100px);
}

.activity-item.up{
  opacity: 1;
  transform: translate(0, 0);
}

.activity-item img{
  width: 180px;
  height: 180px;
  border: 5px solid;
  border-color: #F6D84C;
  padding: 20px;
}

.item4 img{
  border-color: #113F72;
}

.item4 h2{
  color: #113F72;
}

.item-img{
  width: 180px;
  height: 180px;
  border: 5px solid;
  border-color:#113F72;
  padding: 20px;
  background-image: url(../img/icon.png);
  background-size: cover;
  transition: 0.3s;
}

.item-img:hover{
  background-image: url(../img/icon2.png);
  background-color: #113F72;
  transition: 0.3s;
}

.item-text{
  width: 170px;
  font-family: serif;
  margin: 0 auto;
}

.item-text h2{
  font-size:24px;
  padding: 30px 0 20px 0;
  text-align: center;
}

.item-text h3{
  font-size:14px;
  line-height: 1.8;
}

.item2{
  padding-top: 135px;
}
.item3{
  padding-top: 250px;
}
.item4{
  padding-top: 365px;
}




/*----------- deliverables部分のスタイル ---------------*/

.deliverables{
  margin: 160px 0 140px 0;
  height: 800px;
  position: relative;
}

.deliverables-ttl{
 position: absolute;
 top: 0;
 left: 300px;
 z-index: 2;
}

.deliverables-main-ttl{
  font-size: 50px;
  text-align: center;
}

.deliverables-sub-ttl{
  font-size: 25px;
  font-family: serif;
  text-align: center;
}

.del-img{
  width: 900px;
  height: 850px;
  opacity: 30%;
  position: absolute;
  top:0;
  right: 150px;
  z-index: -1;
}

.del-report{
  width: 880px;
  font-size: 20px;
  line-height: 2;
  position: absolute;
  top:150px;
  left: 220px;
}

.annai{
  padding-bottom:  30px;
  font-size: 15px;
}

.btn {
    padding: 10px 50px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #544a47;
    position: relative;
    z-index: 2;
    background: #fff;
    margin: 5px;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #E6C760;
  z-index: -1;
  transition: 0.5s;
}

.btn:hover:after {
  width: 100%;
}

.btn:hover {
  color: #fff;
  transition: 0.5s;
}



.del-report a{
  text-decoration: none;
  color: #544a47;
}





/*--------------- member部分のスタイル ------------------*/
.member{
  position: relative;
  width: 100%;
  padding-top: 100px;
  margin-top: 120px;
  margin-bottom: 80px;
}

.member-box1{
  display: flex;
  justify-content: center;
}

.member-box2{
  display: flex;
  justify-content: center;
}

.member-column{
  width: 160px;
  padding: 35px;
}

.member-column img{
  width: 160px;
  border: 2px solid;
  border-radius: 100%;
}

.member-ttl{
  text-align: center;
  padding-bottom: 50px;
}

.member-main-ttl{
  font-size: 50px;
}

.member-sub-ttl{
  font-size: 25px;
  font-family: serif;
}

.member-name{
  font-family: serif;
  text-align: center;
  padding: 10px;
}

/*---------------- footer部分のスタイル ----------------*/

.footer{
  width: 100%;
  height: 100px;
  background-color: #E6C760;
}

.footer p{
  font-size: 20px;
  font-weight:bold;
  text-align: center;
  padding-top: 40px;
}


/*-------------------------------------------------------------------*/
/*--------------------------- タブレット対応-------------------------------*/
/*-------------------------------------------------------------------*/

@media screen and (max-width: 896px) {

  .fv-img{
    width: 90vw;
    height: 90vh;
    background-position: center;
    position: static;
    margin: 0 auto;
  }

  .fv-ttl{
    font-size: 90px;
    top: 30px;
    left: 30px;
  }

  .header{
    display: none;
  }

  .scroll{
    position: static;
    display: flex;
    justify-content: center;
    margin-top:  15px;
  }

  .scroll::before{
    width: 30px;
    height: 30px;
    left: auto;
  }

  .scroll::after{
    width: 30px;
    height: 30px;
    left: auto;
  }

  /*---------------------About部分のスタイル----------------------*/

  .about{
    height: 1200px;
  }

  .about-content{
    margin-left: 0px;
  }

  .circle1{
    margin: 0 auto;
  }

  .circle2{
    position: static;
    margin: 0 auto;
    text-align: center;
  }

  .about-text{
    padding-top: 600px;
  }


  .about-movie{
    position: static;
    text-align: center;
    padding-top: 250px;
  }

  /*---------------------- activity部分のスタイル ----------------------*/

  .activity-content{
    display: flex;
    justify-content: space-around;

  }

  .activity-item{

  }

  .activity-item img{
    width: 200px;
    height: 200px;
    border: 5px solid;
    border-color: #F6D84C;
    padding: 20px;
  }


}





/*-------------------------------------------------------------------*/
/*--------------------------- スマホ対応-------------------------------*/
/*-------------------------------------------------------------------*/

@media screen and (max-width: 480px){


}
